<div id="task-{{ .ID }}">
    <div class="grid grid-cols-10 p-1">
        <form
            id="update-{{ .ID }}"
            hx-put="/todos/{{ .ID }}" 
            hx-target="#task-{{ .ID }}"
            hx-swap="outerHTML"
            class="col-start-2 col-span-8 bg-base-200 p-4 grid place-items-center rounded-lg mb-5 border-2"
        >
            <span class="label label-text">Task to be done</span>
            <input class="input input-bordered input-primary w-full"
                spellcheck="false"
                placeholder="Title"
                type="text"
                name="title"
                value="{{ .Title }}"
                required
            >
            <span class="label label-text">Task Details</span>
            <textarea class="textarea textarea-primary w-full mb-2" spellcheck="false" name="details" placeholder="What needs to be done...">
                {{- .Details -}}
            </textarea>
        </form>
        <div>
            <button type="submit" form="update-{{ .ID }}" class="btn btn-link btn-sm">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="32"
                    height="32"
                    viewBox="0 0 512 512"
                    class="text-success"
                >
                    <path
                        fill="currentColor"
                        d="m472.971 122.344l-99.315-99.315A23.838 23.838 0 0 0 356.687 16H56a24.028 24.028 0 0 0-24 24v432a24.028 24.028 0 0 0 24 24h400a24.028 24.028 0 0 0 24-24V139.313a23.838 23.838 0 0 0-7.029-16.969M320 48v96H176V48Zm128 416H64V48h80v128h208V48h1.373L448 142.627Z"
                        />
                    <path
                        fill="currentColor"
                        d="M252 224a92 92 0 1 0 92 92a92.1 92.1 0 0 0-92-92m0 152a60 60 0 1 1 60-60a60.068 60.068 0 0 1-60 60"
                    />
                </svg>
            </button>
            <button class="btn btn-link btn-sm"  hx-get="/todos/{{ .ID }}" hx-target="#task-{{ .ID }}" hx-swap="outerHTML">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="text-warning">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
        <div>
    </div>
</div>
