{{- define "footer" -}}
<hr>
<footer class="w-full p-2 lg:px-5">
  <div class="flex justify-around">
      <nav class="grid">
        <h5 class="text-lg">Services</h5> 
        <a class="hover:text-info" href="#">Tasks and Chores</a>
        <a class="hover:text-info" href="#">Family Planning</a>
        <a class="hover:text-info" href="#">Budgeting</a>
      </nav> 
      <nav class="grid">
        <h5 class="text-lg">Company</h5> 
        <a class="hover:text-info" href="#">About us</a>
        <a class="hover:text-info" href="#">Contact</a>
        <a class="hover:text-info" href="#">Jobs</a>
        <a class="hover:text-info" href="#">Press kit</a>
      </nav> 
      <nav class="grid">
        <h5 class="text-lg">Legal</h5> 
        <a class="hover:text-info" href="#">Terms of use</a>
        <a class="hover:text-info" href="#">Privacy policy</a>
        <a class="hover:text-info" href="#">Cookie policy</a>
      </nav>
  </div>
</footer>
<footer class="border-t border-base-200 flex justify-center px-5 w-full content-center py-4 text-accent">
   <p class="flex">Made with<span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
         <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z" />
      </svg>
      </span>in Miami, FL, USA</p>
   </p>
</footer>
{{- end -}}
