{{ define "grocery" }} 
<div id="grocery-{{ .ID }}" class="grid grid-cols-10 p-1">
   <div>
       <button class="btn btn-link btn-sm" hx-put="/groceries/{{ .ID }}/done" hx-target="#grocery-{{ .ID }}" hx-swap="outerHTML">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-success">
             <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
       </button>
       <button class="btn btn-link btn-sm" hx-delete="/groceries/{{ .ID }}" hx-target="#grocery-{{ .ID }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
       </button>
   </div>
   <div class="col-span-8">
       <div class="flex justify-between content-center">
           <h6 class="uppercase {{ if .Purchased  }}line-through{{ end }}">{{ .Item }}</h6>
           <p class="text-sm">Count: {{ .Count }}</p>
       </div>
       {{- if .Details -}}
       <p class="col-start-2 col-span-8">{{ .Details }}</p>
       {{- end -}}
   </div>
</div>
{{ end }}
