<!DOCTYPE html>
<html data-theme="cupcake">
   <head>
      {{ template "meta" }}
      <title>Grocery List</title>
   </head>
   <body class="min-h-screen w-screen">
      {{ template "header" }}
      <div class="w-full flex justify-end items-center lg:px-4">
         <form
            hx-post="/groceries"
            hx-swap="beforeend"
            hx-target="#grocery-list"
            hx-on::after-request="this.reset()"
            class="w-full max-w-96 bg-base-200 p-4 grid place-items-center rounded-lg mb-5 border-2"
            >
            <span class="label label-text">Add grocery to the list</span>
            <div class="flex w-full my-2">
               <input class="input input-bordered input-primary basis-4/5" spellcheck="true" placeholder="Bread..." type="text" name="item" required>
               <div class="tooltip grid place-content-center" data-tip="Add item to list">
                 <button type="submit" class="btn btn-link btn-sm">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-secondary">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                     </svg>
                 </button>
               </div>
            </div>
            <details class="w-10/12 min-w-48">
               <span class="label label-text">Product Details</span>
               <textarea class="textarea textarea-primary w-full mb-2" spellcheck="false" name="details" placeholder="Get the organic version if possible..."></textarea>
               <span class="label label-text">Count</span>
               <input class="input w-full input-primary" type="number" id="count" name="count" min="1" max="256" />
               <span class="label label-text">Price</span>
               <input class="input input-bordered input-primary w-full" spellcheck="false" placeholder="$3.50" type="text" name="price">
               <span class="label label-text">Store</span>
               <input class="input input-bordered input-primary w-full" spellcheck="false" placeholder="Wegmans" type="text" name="store">
               <button type="submit" class="my-2 btn btn-primary btn-wide">Create</button>
            </details>
         </form>
      </div>
      <main class="grid grid-cols-1 place-items-center min-w-96 w-full px-4">
         <section class="border border-base-100">
            <h1 class="text-xl font-medium">Groceries</h1>
            <div id="grocery-list" class="mb-8 max-w-[32rem] divide-y">
               {{ range $item := .Groceries }}
               {{ template "grocery" $item }}
               {{ end }}
            </div>
         </section>
      </main>
      {{ template "footer" }}
   </body>
</html>
