{{ define "hero" }}
<section class="grid grid-cols-3">
    <div class="col-span-2">
        <h1 class="text-3xl">Family Mangement</h1>
        <h3 class="text-xl">A place to keep track of family things</h3>
    </div>
    <img alt="big-shell-logo-icon" src="https://images.sifted-dev.co/doof/3.png" width=500 height=400 style="width: 500px; height: 400px;">
</section>
{{ end }}
