<!DOCTYPE html>
<html data-theme="cupcake">
    <head>
        {{ template "meta" }}
        <title>Family Tasks</title>
    </head>
    <body>
        {{ template "header" }}
        <main>
            {{ template "hero" }}
            <div class="border-y py-10">
                <p>Managing a household can be a lot! My wife and I are both work and decided we needed an organization
                tool to help keep track of all the things we need to keep our lives moving along. 
                </p>
            </div>
        </main>
        {{ template "footer" }}
    </body>
</html>
