<!DOCTYPE html>
<html data-theme="cupcake">
    <head>
        {{ template "meta" }}
        <link rel="stylesheet" href="/static/landing.css">
        <style>
            body {
                min-width: 100vw;
            }
            main {
                display: grid;
                place-items: center;
                margin: 5rem;
                padding: 1rem;
            }
            /* Bordered form */
            form {
              padding: 1rem;
              background: white;
              border: 3px solid whitesmoke;
            }

            /* Full-width inputs */
            input[type=text], input[type=password] {
              width: 100%;
              padding: 12px 20px;
              margin: 8px 0;
              display: inline-block;
              border: 1px solid #ccc;
              box-sizing: border-box;
            }

            /* Set a style for all buttons */
            button {
              background-color: #04AA6D;
              color: white;
              padding: 14px 20px;
              margin: 8px 0;
              border: none;
              cursor: pointer;
              width: 100%;
            }

            /* Add a hover effect for buttons */
            button:hover {
              opacity: 0.8;
            }

            /* Extra style for the cancel button (red) */
            .cancelbtn {
              width: auto;
              padding: 10px 18px;
              background-color: #f44336;
            }

            /* Center the avatar image inside this container */
            .imgcontainer {
              text-align: center;
              margin: 24px 0 12px 0;
            }

            /* Avatar image */
            img.avatar {
              width: 40%;
              border-radius: 50%;
            }

            /* Add padding to containers */
            .container {
              padding: 16px;
            }

            /* The "Forgot password" text */
            span.psw {
              float: right;
              padding-top: 16px;
            }

            /* Change styles for span and cancel button on extra small screens */
            @media screen and (max-width: 300px) {
              span.psw {
                display: block;
                float: none;
              }
              .cancelbtn {
                width: 100%;
              }
            }
        </style>
        <title>Login</title>
    </head>
    <body>
        {{ template "header" }}
        <main>
            <p>Welcome back, please login to your account</p>
            <form hx-post="/login" hx-swap="none">
              <div>
                <label for="uname"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="psw" required>

                <button type="submit">Login</buton>
                <label>
                  <input type="checkbox" checked="checked" name="remember">Remember me</input>
                </label>
              </div>

              <div>
                <button type="button">Cancel</button>
                <div style="display: flex; place-content: space-between; width: 100%;">
                    <span>Forgot <a href="/forgot-psw">password?</a></span>
                    <span>New here? <a href="/signup">Sign-up</a></span>
                </div>
              </div>
            </form>
        </main>
        {{ template "footer" }}
    </body>
</html>
