{{- define "meta" -}}
<meta charset="UTF-8">
<meta name="description" content="Build your athlete profile and reach out to colleges!">
<meta name="keywords" content="recruiting,athletics,college">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--
    <link rel="preconnect" href="https://d36yxaw9xj00lp.cloudfront.net" crossorigin>
-->
<meta name="theme-color" content="#818cf8" />
<link rel="icon" type="image/ico" href="/static/favicon.ico" />

<link href="/static/main.css" rel="stylesheet">
<script src="/static/change-theme.js"></script>
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
{{- end -}}
