<!DOCTYPE html>
<html data-theme="cupcake">
    <head>
        {{ template "meta" }}
        <title>FM Profile</title>
    </head>
    <body class="min-h-screen">
        {{ template "header" }}
        <main class="grid place-items-center w-100 mx-4">
            <h1>Profile</h1>
            <h2>Wileczek Family</h2>
            <section>
                <h3>About Me</h3>
                <form
                       hx-post="/profile"
                       class="p-4 grid place-items-center rounded-lg mb-5"
                    >
                    <!-- TODO: Profile image?? -->
                    <span class="label label-text">Name</span>
                    <input class="input input-bordered input-secondary w-full" spellcheck="false" placeholder="Name" type="text" name="name" required>

                    <span class="label label-text">Email</span>
                    <input class="input input-bordered input-secondary w-full" spellcheck="false" placeholder="Email" type="email" name="email">

                    <span class="label label-text">Number</span>
                    <input class="input input-bordered input-secondary w-full" type="tel" id="phone" name="phone" placeholder="123 555-6789" pattern="[0-9]{3} [0-9]{3}-[0-9]{4}"><br><br>
                    <small>Format: 123 555-6789</small><br><br>
                    <button type="submit" class="btn btn-primary btn-wide">update</button>
                </form>
            </section>
            <section>
                <h3>Preferences</h3>
                <form
                       hx-post="/profile/preference"
                       class="p-4 grid place-items-center rounded-lg mb-5"
                    >
                    <!-- Checkmarks for email, text, or other -->
                    <span>Recieve Reminders?</span>
                    <div class="form-control">
                      <label class="cursor-pointer label">
                        <span class="label-text">Via Email</span>
                        <input type="checkbox" checked="false" name="email" class="checkbox checkbox-secondary" />
                      </label>
                      <label class="cursor-pointer label">
                        <span class="label-text">Via Text</span>
                        <input type="checkbox" checked="false" name="text" class="checkbox checkbox-secondary" />
                      </label>
                      <label class="cursor-pointer label">
                        <span class="label-text">In app notifications</span>
                        <input type="checkbox" checked="false" name="text" class="checkbox checkbox-secondary" />
                      </label>
                    </div>

                    <!-- Maybe color scheme? -->
                    <button type="submit" class="btn btn-primary btn-wide">Create</button>
                </form>
            </section>
        </main>
        {{ template "footer" }}
    </body>
</html>
