{{- define "todo" -}}
<div id="task-{{ .ID }}" class="grid grid-cols-10 p-1" hx-get="api/v1/ping" hx-target="this" hx-swap="delete" hx-trigger="completed{{ .ID }} from:body">
   <div>
       <button class="btn btn-link btn-sm" hx-put="/todos/{{ .ID }}/done" hx-target="#completed-list" hx-swap="beforeend">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-success">
             <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5" />
          </svg>
       </button>
       <button class="btn btn-link btn-sm" hx-delete="/todos/{{ .ID }}" hx-target="#task-{{ .ID }}">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
             <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
          </svg>
       </button>
   </div>
   <h6 class="col-span-8 grid content-center uppercase">{{ .Title }}</h6>
   <button class="btn btn-link btn-sm" hx-get="/todos/{{ .ID }}/edit" hx-target="#task-{{ .ID }}" hx-swap="outerHTML">
      <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-accent"
          >
      <path
         stroke-linecap="round"
         stroke-linejoin="round"
         d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"
         />
      </svg>
   </button>
   {{- if .Details -}}
   <p class="col-start-2 col-span-8">{{ .Details }}</p>
   {{- end -}}
</div>
{{- end -}}
