<!DOCTYPE html>
<html data-theme="cupcake">
   <head>
      {{ template "meta" }}
      <title>Family Tasks</title>
   </head>
   <body class="min-h-screen">
      {{ template "header" }}
      <div class="w-full flex justify-end items-center lg:px-4">
         <form
            hx-post="/todos"
            hx-swap="beforeend"
            hx-target="#task-list"
            hx-on::after-request="this.reset()"
            class="w-full max-w-96 bg-base-200 p-4 grid place-items-center rounded-lg mb-5 border-2"
            >
            <span class="label label-text">Task to be done</span>
            <div class="flex w-full my-2">
               <input class="input input-bordered input-primary basis-4/5" spellcheck="false" placeholder="Title" type="text" name="title" required>
               <div class="tooltip grid place-content-center" data-tip="Add task">
                 <button type="submit" class="btn btn-link btn-sm">
                     <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-secondary">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                     </svg>
                 </button>
               </div>
            </div>
            <details>
               <span class="label label-text">Task Details</span>
               <textarea class="textarea textarea-primary w-full mb-2" spellcheck="false" name="details" placeholder="What needs to be done..."></textarea>
               <span class="label label-text">Category</span>
               <input class="input input-bordered input-primary w-full" spellcheck="false" placeholder="Title" type="text" name="category">
               <span class="label label-text">Assign To</span>
               <input class="input input-bordered input-primary w-full" spellcheck="false" placeholder="Title" type="text" name="assignee">
               <span class="label label-text">Due Date</span>
               <input class="input input-bordered input-primary w-full" spellcheck="false" placeholder="Title" type="text" name="due">
               <button type="submit" class="my-2 btn btn-primary btn-wide">Create</button>
            </details>
         </form>
      </div>
      <main class="grid lg:grid-cols-2 grid-cols-1 place-items-center w-100 mx-4">
         <section>
            <div class="collapse collapse-plus">
               <h1 class="collapse-title text-xl font-medium">Tasks</h1>
               <input type="checkbox" checked>
               <div id="task-list" class="mb-8 max-w-[32rem] divide-y collapse-content">
                  {{ range $t := .Todos }}
                  {{ if $t.CompletedAt }}
                  {{ else }}
                  {{ template "todo" . }}
                  {{ end }}
                  {{ end }}
               </div>
            </div>
         </section>
         <section>
            <div class="collapse collapse-plus">
               <h1 class="collapse-title text-xl font-medium">Completed Tasks</h1>
               <input type="checkbox" checked>
               <div id="completed-list" class="mb-8 max-w-[32rem] divide-y collapse-content">
                  {{ range $t := .Todos }}
                  {{ if $t.CompletedAt }}
                  {{ template "todo" . }}
                  {{ end }}
                  {{ end }}
               </div>
            </div>
         </section>
      </main>
      {{ template "footer" }}
   </body>
</html>
